<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Login</title>
</head>
<body>
    
    <header>
        <div class="nav-bar">
            <div class="nav-bar__superior">
                <div class="header-logo">
                    <a href="/">
                        <img src="/images/Logo-Página.png" alt="logo" width="100px" height="100px">
                    </a>
                </div>
                <div class="header-search">
                    <input type="search" placeholder="Buscar productos">
                    <button>
                        <img src="/images/search.png" alt="lupa" width="20px" height="20px">
                    </button>
                </div>
                <div class="header-account">
                    <a href="" class="account-a">
                        <img src="/images/user.png" alt="usuario" width="30px" height="30px">
                        <p class="account-p">Ingresar</p>
                    </a>
                    <a href="/carrito" class="account-a">
                        <img src="/images/shopping-cart.png" alt="carrito" width="30px" height="30px">
                        <p class="account-p">Carrito</p>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <p class="bienvenida">¡Te damos la bienvenida!</p>
    <div class="login">
        <p class="iniciar-sesion">INICIAR SESIÓN CON EMAIL</p>
        <form action="/login">
            <input type="text" name="usuario" placeholder="ingresar email">
            <input type="password" name="contraseña" placeholder="ingresar contraseña">
        </form>
    
        <p class="uno"><a href="https//"></a>
            Registrarme
        </p>
        <p class="dos"><a href="www." ></a>
            Olvide mi contraseña
        </p>
        <form action="/login" class="enviar">
            <input type="submit" name="Iniciar sesion" value="Login">
        </form>
    </div>
</body>
</html>