<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", { title: "Login" }) %>
        <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <main>
        <p class="bienvenida">¡Te damos la bienvenida!</p>
        <div class="login">
            <p class="iniciar-sesion">INICIAR SESIÓN CON EMAIL</p>
            <form action="/user/login" method="POST">
                <input type="email" name="email" placeholder="ingresar email">
                <div class="switch-block">
                    <p>Recordar</p>
                    <input type="checkbox" name="recordar" id="toggle">
                    <label for="toggle" class="switch"></label>
                </div>
                <input type="password" name="password" placeholder="ingresar contraseña">

                <div class="options">
                    <p class="uno">
                        <a href="/user/register" class="ancla">Registrarme</a>
                    </p>
                    <p class="dos">
                        <a href="www." class="ancla">Olvide mi contraseña</a>
                    </p>
                </div>
                <input type="submit" >

            </form>
        </div>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>

</html>