<html lang="en">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/cart.css">
    <title>Carrito</title>
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <main>
        <div class="cart-custom">
            <h1 class="cart-titulo">Carrito</h1>
            <div class="cart-pedidos">
                <div class="cart-pedidos__titulo">
                    <h2>Productos</h2>
                </div>
                <div class="cart-pedidos__items">
                    <section class="cart-item">
                        <article class="cart-item__producto">
                            <div class="producto-img">
                                <img src="/images/playstation5.jpg" alt="imagen del producto" width="100%"
                                    height="100%">
                            </div>
                            <div class="producto-custom">
                                <h3 class="producto-titulo">Titulo del producto</h3>
                                <p class="producto-descripcion">Descripcion del producto</p>
                                <div class="producto-opciones">
                                    <p>Eliminar</p>
                                    <p>Guardar</p>
                                </div>
                            </div>
                        </article>
                        <article class="cart-item__cantidad">
                            <button>
                                <p>-</p>
                            </button>
                            <span>0</span>
                            <button>
                                <p>+</p>
                            </button>
                        </article>
                        <article class="cart-item__precio">
                            <p>$00.00</p>
                        </article>
                    </section>
                </div>
            </div>

            <div class="cart-detalles">
                <div class="resumen-pedido">
                    <div class="resumen-pedido__item">
                        <h3>Resumen del pedido</h3>
                    </div>
                    <div class="resumen-pedido__item">
                        <div>
                            <p>Productos (0)</p>
                            <p>Descuento</p>
                        </div>
                        <div>
                            <p>$00.00</p>
                            <p>$-00.00</p>
                        </div>
                    </div>
                    <div class="resumen-pedido__item">
                        <div class="resumen-pedido__item-search">
                            <input type="search" name="" id="" placeholder="Código de cupon" class="item-search">
                            <button class="pedido-btn">Aplicar</button>
                            <p>$-00.00</p>
                        </div>
                    </div>
                    <div class="resumen-pedido__item">
                        <div class="resumen-pedido__item-search">
                            <input type="search" name="" id="" placeholder="Ingresa código postal" class="item-search">
                            <button class="pedido-btn">Aplicar</button>
                        </div>
                        <p>Envío</p>
                        <p>$00.00</p>
                    </div>
                    <div class="resumen-pedido__item resumen-total">
                        <p>Total: </p>
                        <p>$00.00</p>
                    </div>
                    <div class="resumen-pedido__item">
                        <button class="comprar-btn">
                            Finalizar compra
                        </button>
                    </div>
                </div>

                <div class="mas-productos">
                    <button class="mas-productos-btn">
                        Agregar más productos
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>

</body>

</html>