<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a44b762dd1.js" crossorigin="anonymous"></script>
    <title>Detalle de Producto</title>
</head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <main>
        <section class="columnHeader">
            
        </section>
        <section class="leftColumn">
            <div class="contentProductDetail">
                <div class="vendedor">
                    <a href="https://www.playstation.com/es-ar/" target="_blank">PlayStation</a>
                </div>
                <div class="productInformation">
                    <div class="productInformation__States">
                        <p>Nuevo</p>
                    </div>
                    <div class="productInformation__Sales">
                        <p>+300 vendidos</p>
                    </div>
                </div>
                <div class="productName">
                    <h1>Playstation 5 Original</h1>
                        <div class="productFavouriteIcon">
                            <label>
                                <input type="checkbox" name="">
                                <div class="icon-box">
                                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>
                </div>
                <div class="carrousel__container">
                    <div class="carrousel__sliderWrapper">
                        <div class="carrousel__slider">
                            <img id="slide-1" src="/images/products/playstation5.jpg" alt="Playstation5__Image-1">
                            <img id="slide-2" src="/images/products/playstation5-2.jpg" alt="Playstation5__Image-2">
                            <img id="slide-3" src="/images/products/playstation5-3.jpg" alt="Playstation5__Image-3">
                        </div>
                        <div class="carrousel__sliderNav">
                            <a href="#slide-1"></a>
                            <a href="#slide-2"></a>
                            <a href="#slide-3"></a>
                        </div>
                    </div>
                </div>
                <div class="price">
                    <div class="realPrice">$634.999</div>
                    <div class="priceWithDiscount">$507.999</div>
                    <div class="discountPercentage">20% Off</div>
                </div>
            </div>
        </section>
        <section class="rightColumn">
            <div class="contentProductDetail">
                
                <div class="purchaseInformation">
                    <div class="warrantly">Garantía: 6 meses</div>
                    <div class="avaibleStock">Stock Disponible: 25 unidades</div>
                    <div class="shipmentsTo">Envios a: Todo el país</div>
                </div>
                <div class="paymentMethods">
                    <p>Paga en 6 cuotas sin interés con:</p>
                    <div class="method"><img src="/images/payoment-methods/logo-Paypal.png" alt="PayPal"></div>
                    <div class="method"><img src="/images/payoment-methods/pago-facil-2019-logo-8BE6DD28D6-seeklogo.com.png" alt="Pago Fácil"></div>
                    <div class="method"><img src="/images/payoment-methods/rapipago.png" alt="Rapipago"></div>
                    <div class="method"><img src="/images/payoment-methods/visa.png" alt="Visa"></div>
                    <div class="method"><img src="/images/payoment-methods/Logo_Naranja.png" alt="Tarjeta Naranja"></div>
                </div>
                    <div class="purchaseAction">
                    <div class="purchaseAction__border">
                        <div class="message__amount">Cantidad</div><div class="amount"><input type="number" placeholder="Indicar Cantidad"></div>
                    </div>
                    <div class="purchaseAction__border">
                        <div class="message__stockReference">Stock Disponible</div><div class="stockReference">25 Unidades</div>
                    </div>
                </div>
                <div class="purchaseOptions">
                    <button class="purchase">Comprar</button>
                    <button class="addToCart">Agregar al Carrito</button>
                </div>
            </div>
        </section>
        <section class="columnBottom">
            <div class="productDescription">
                <h2>DESCRIPCIÓN:</h2>
                <p>
                    Con tu consola PlayStation 5 tendrás entretenimiento asegurado todos los días. Su tecnología fue creada para poner nuevos retos tanto a jugadores principiantes como expertos.
                    
                    PlayStation renovó las expectativas del mundo virtual con esta nueva consola y su gran rendimiento. Cuenta con una interfaz de usuario más rápida y fácil de navegar que en anteriores modelos. Además, podrás jugar durante horas desafiando a millones de contrincantes alrededor del mundo que esperan nuevos retos.
                    
                    Calidad de otro nivel
                    Se considera que esta consola es de las mejores dentro del mercado, dado que presenta una resolución de hasta 4K.
                    
                    Además, el control DualSense para PS5 combina estilo y tecnología para que jugar sea más cómodo e interactivo para todos sus jugadores.
                    
                    Adaptada a tus necesidades
                    Guardá tus apps, fotos, videos y mucho más en el disco duro, que cuenta con una capacidad de 825 GB.
                    Al contar con un procesador de 8 núcleos y uno gráfico, brinda una experiencia dinámica, respuestas ágiles, y transiciones fluidas de imágenes en alta definición.
                    Por otro lado, tiene puerto USB y salida HDMI, que permiten conectar accesorios y cargar la batería de tu control mientras jugás.
                    
                    Vas a poder reproducir música, ver tus películas y series favoritas a través de las aplicaciones descargables.</p>
            </div>
            <div class="questionsToTheSeller">
                <h3>Dejános tus Comentarios</h3>
                <textarea name="comments" id="#comments" placeholder="Escribí acá..."></textarea>
            </div>
            <div class="calification__container">
                <span>Calificá tu producto:</span>
                <div class="calification">
                    <input type="radio" name="rate" id="rate-5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fas fa-star"></label>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>