<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", { title: "Registro" }) %>
    <link rel="stylesheet" href="./css/register.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const password = document.getElementById("contraseña");
            const confirmPassword = document.getElementById("confirmarContraseña");

            confirmPassword.addEventListener("input", function () {
                if (confirmPassword.value !== password.value) {
                    confirmPassword.setCustomValidity("Las contraseñas no coinciden");
                } else {
                    confirmPassword.setCustomValidity("");
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <main>
        <div class="contenedor">
        <h3>Registro</h3>
        <form action="#" method="post" >
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required>

            <label for="surname">Apellido</label>
            <input type="text" id="surname" name="surname" required>

            <p>Genero</p>
            <div class="radio-block">
                <div class="radio-block__element">
                    <input type="radio" name="genre" id="M" value="M">
                    <label for="M">Masculino</label>
                </div>
                <div class="radio-block__element">
                    <input type="radio" name="genre" id="F" value="F">
                    <label for="F">Femenino</label>
                </div>
            </div>

            <div class="file-block">
                <p class="text-file">Imagen de perfil</p>
                <label for="uploadAvatar" class="labelUpload">Elegir Archivo</label>
                <input type="file" id="uploadAvatar">
            </div>

            <label for="email">Correo Electrónico</label>
            <input type="text" id="email" name="email" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" required>

            <label for="confirmarContraseña">Confirme su contraseña</label>
            <input type="password" id="confirmarContraseña" name="confirmarContraseña" required>

            <input type="submit" value="Registrarse">
        </form>
    </div>
    </main>
    
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>
