body {
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    background-color: #f0f9f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 10px;
    flex: 0 1 30%;
    max-width: 300px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

li:hover {
    box-shadow: 0 0 20px rgba(0, 100, 0, 0.7);
}

.section-card__img {
    text-align: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: #49a078;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #408e6b;
}

form {
    background-color: #e6f5e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #49a078;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}