<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/confirmLogout.css"> <!-- Reemplaza con la ruta correcta a tu archivo CSS -->
    <title>Logout Confirmation</title>
</head>
<body>

<div class="overlay">
    <div class="logout-confirmation">
        <p>¿Estás seguro de que deseas cerrar sesión?</p>
        <a href="/user/logout">Sí, cerrar sesión</a>
        <a href="/">Cancelar</a>
    </div>
</div>

</body>
</html>

