main {
    background-color: #dce1de;
}

main button {
    cursor: pointer
}

.cart-custom {
    width: 90%;
    margin-left: 5%;
}

.cart-titulo {
    width: 100%;
}

.cart-pedidos {
    margin-bottom: 20px;
    border: solid black 2px;
    background-color: #49a078;
}

.cart-pedidos__items{
    background-color: #49a078;
}

.cart-pedidos__titulo {
    border-bottom: solid black 2px;
}

.cart-item {
    border-bottom: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.cart-item article {
    margin-bottom: 20px;
}

.cart-item__producto {
    display: flex;
    flex-direction: row;
}

.producto-img {
    width: 25%;
}

.producto-custom {
    width: 75%;
}

.producto-opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-item__cantidad {
    border: solid black 2px;
    background-color: white;
}
/* Estilado de la cantidad */
.cart-item__cantidad span {
    font-size: 18px;
    padding: 0px 10px;
}

.cart-item__cantidad button {
    font-size: 20px;
    padding: 4px 5px;
    background-color: white;
    border: none;
}

.cart-detalles {
    display: flex;
    flex-direction: column;
}

.cart-detalles > div {
    margin-bottom: 20px;
}

.resumen-pedido {
    background-color: #49a078;
    border-radius: 7px;
}

.resumen-pedido__item {
    padding:  10px 5px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.resumen-pedido__item-search {
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resumen-pedido__item-search p {
    display: inline;
}

.resumen-pedido__item-search input[type="search"]{
    width: 60%;  
    padding: 7px 5px;
    border-radius: 7px;
}

.pedido-btn {
    position: absolute;
    right: 42%;
    top: 6px;

    border: none;
    border-left: solid black 2px;
    padding: 2px 6px;
    background-color: white;
}

.resumen-total {
    border-top: solid black 2px;
}

.comprar-btn {
    margin: 0% 10%;
    width: 80%;
    padding: 10px 0px;
    background-color: #dce1de;
    border: none;
    border-radius: 4px;
}

.mas-productos-btn {
    width: 100%;
    padding: 8px 0px;
    background-color: #dce1de;
    border: solid black 2px;
}


/* Estilado tablet */
@media (min-width: 577px) {
    .cart-custom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-pedidos {
        width: 62%;
    }

    .cart-detalles {
        width: 35%;
    }

}

/* Estilado desktop */
@media (min-width: 993px) {
    .cart-pedidos {
        width: 65%;
    }

    .cart-item {
        justify-content: space-between;
    }

    .cart-item > article {
        margin: 0px;
    }

    .cart-item__producto{
        width: 70%;
        height: 17vh;
    }

    .producto-custom {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .cart-item__cantidad{
        align-self: center;
    }

    .cart-item__precio {
        align-self: center;
    }

    .cart-detalles {
        width: 25%;
    }
}