  p {
    font-weight: normal;
    font-size: 10px;
  }

  .iniciar-sesion {
    font-size: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .login {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 40px;
    background-color: #dce1de;
    border-radius: 5px;
  }

   .bienvenida {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
  }

  .ancla{
    text-decoration: none;
    list-style: none;
    color:#49a078;
  }

  @media (max-width: 480){
    .bienvenida{
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 40px;
    }
  }

  @media (max-width: 1279){
    .bienvenida{
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 40px;
    }
  }

  .login .titulo {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  p {
    display: inline-block;
  }


.login input[type="submit"] {
    background-color: #49a078;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login .uno {
    font-size: 16px;
}
.login .dos {
    font-size: 16px;
    margin: 15px 0px 20px 100px;
  }

.fa-solid {
  position: relative;
  margin-top: 10px;
}

.switch-block{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.switch-block p{
  font-size: 14px;
  padding-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #49a078;
  border-radius: 40px;
  transition: all 0.5s;
  cursor: pointer;
}

.switch:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: white;
  top: 2.5px;
  left: 2.5px;
  transition: all 0.5s;
}

input[type='checkbox']:checked + .switch:after {
  transform: translateX(20px);  
}

input[type='checkbox'] {
  display: none;
}