<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f49e527156.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <footer class="pie-pagina">
    <div class="grupo-1">
    <div class="box">
        <figure>
        <a href="#">
            <img src="/images/icons/Logo-Página.png" alt="logo de empresa">
        </a>
    </figure>
    </div>

    <div class="box">
    <h2>SOBRE NOSOTROS</h2>
    <p>Apuntamos a una página web que sea útil, rápida y fácil de manejar para todo público y que la compra de tendencias electrónicas no sea un problema. Con este sitio los beneficios que brindamos son:</p>
    <p><ul>
        <li>Descripción detallada de productos de calidad </li>
        <li>Tenemos las mejores marcas</li>
        <li>Ofertas y descuentos cada semana </li>
        <li>Aceptamos tarjetas de debito y crédito</li>
       </ul>
    </p>
     </div>

    <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        </div> 
    </div>
    </div>
<div class="grupo-2">
    <small>&copy;2023 <b>Tech Smart</b> - Todos Los Derechos Reservados</small>
</div>

</footer>