

<div class="nav-bar">
    <div class="nav-bar__superior">
        <div class="header-logo">
            <a href="/">
                <img src="/images/icons/Logo-Página.png" alt="logo" width="100px" height="100px">
            </a>
        </div>
        <div class="header-search">
            <form action="/search" method="GET">
                <input type="search" placeholder="Buscar productos" name="search">
                <button type="submit">
                    <img src="/images/icons/search.png" alt="lupa" width="20px" height="20px">
                </button>
            </form>
        </div>
        <div class="header-account">
            <% if (locals.user) { %>
                <a href="/user/userProfile/<%= user.id %>">
                    <img src="/images/profile/<%= user.avatar %>" alt="avatar" width="75px" height="75px">
                </a>    
            <% }else{ %>
                <a href="/user/login" class="account-a">
                    <img src="/images/icons/user.png" alt="usuario" width="30px" height="30px">
                    <p class="account-p">Ingresar</p>
                </a>
            <% } %>
            
            <a href="/carrito" class="account-a">
                <img src="/images/icons/shopping-cart.png" alt="carrito" width="30px" height="30px">
                <p class="account-p">Carrito</p>
            </a>
            <a href="/product/lista-de-productos" class="account-a">
                <button>Mis productos</button>
            </a>
        </div>
</div>
